# Python cache
__pycache__/
*.py[cod]
*.so

# Deep Learning weights and logs
*.pt
*.pth
runs/
models/

# Datasets and large outputs
datasets/
CCPD/
chars_output/
robust_test/
*.jpg
*.png
*.mp4

# Environment and OS
.env
.venv/
.DS_Store
